body{
    padding: 0px;
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
            font-family: 'Roboto', sans-serif;
        font-size: 13px;
        border-left: solid rgba(0, 0, 0, 0.836) 50px;
        border-right: solid rgba(0, 0, 0, 0.836) 50px;
}
.interfaz{
    width: 98.5%;
    padding: 10px 0px 10px 15px;
}
.formulario{
    display: inline-block;
    width: 35%;

}

.a{
    width: 100%;
    display: inline-block;
    height: 60px;
    padding: 6px 0px 0px 10px;
    background-color: rgb(204, 216, 230);
    border-radius: 2px;

}
.numero{
    color: rgba(0, 0, 0, 0.438);
    font-weight: 600;
    border: 0px;
    padding: 0px 0px 0px 5px;
}
.nombre{
    padding: 0px 0px 0px 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.Cinfo{
    padding: 5px 0px 0px 0px;
      grid-auto-rows: minmax(200px, auto);
      grid-gap: 20px;
    width: 98.5%;
    height: 35px;
}
.Cimagenes{
    padding: 5px 45px 0px 45px;
      grid-auto-rows: minmax(200px, auto);
      grid-gap: 20px;
    width: 98.5%;
}
.imagenes{
    width: 70px;
    height: 20px;

}
.imagenesP{
    border-radius: 10px;
    width: 380px;
    height: 380px;

}
.resultado{
    background-color: rgba(0, 0, 0, 0.062);
    border: solid black 2px;
    margin: 0px 10px 0px 10px;
}
.desplazarseAB{
    background-color: rgba(0, 0, 0, 0.062);
    border: solid black 2px;
    margin: 0px 10px 0px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.desplazarseAR{
    background-color: rgba(0, 0, 0, 0.062);
    border: solid black 2px;
    margin: 0px 10px 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.relleno{
    height: 20px;
}
.info{
    margin: 130px 0px 0px 0px;
    border: solid rgb(26, 92, 136) 3px;
    width: 380px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}



.bicho{
    background-color: rgba(39, 110, 25, 0.795);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.siniestro{
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.electrico{
    background-color: rgb(231, 210, 20);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.hada{
    background-color: rgba(202, 108, 197, 0.781);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.lucha{
    background-color: rgb(189, 98, 13);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.fuego{
    background-color: rgb(255, 157, 44);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.volador{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.fantasma{
    background-color: rgba(108, 38, 155, 0.836);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.pasto{
    background-color: rgba(91, 209, 68, 0.822);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.tierra{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.hielo{
    background-color: rgb(35, 166, 218);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.normal{
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.veneno{
    background-color: rgba(101, 15, 104, 0.603);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.psiquico{
    background-color: rgb(218, 35, 218);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.roca{
    background-color: rgb(158, 135, 34);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.hierro{
    background-color: rgba(34, 97, 122, 0.452);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}
.agua{
    background-color: rgba(35, 160, 218, 0.829);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: solid rgba(128, 128, 128, 0.493) 2px;
}